.receipts-page-container {
  background-color: #f3f4f6;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.receipts-card-container {
  width: 74rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  height: 85vh;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipts-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1.5rem;
  text-align: center;
}
.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

.loading-message {
  font-size: 1.125rem;
  font-weight: 600;
  color: #4b5563;
}

.error-message {
  font-size: 1.125rem;
  font-weight: 600;
  color: #dc2626;
}

.no-receipts-message {
  text-align: center;
  color: #4b5563;
  font-size: 1.125rem;
  padding: 20px;
}

.receipts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.receipt-item {
  background-color: #f9fafb;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.receipt-image {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: contain;
}


.receipt-text {
  font-size: 0.875rem;
  color: #1f2937;
  line-height: 1.625;
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.receipt-item p {
    margin: 0;
    color: #4a4a4a;
    font-size: 0.9em;
}
.receipt-item p strong {
    color: #002d72;
}

@media (max-width: 768px) {
  .receipts-page-container {
    padding-top: 10px;
  }

  .receipts-card-container {
    padding: 1rem;
    height: calc(100vh - 120px);
  }

  .receipts-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .receipts-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .receipt-item {
    padding: 1rem;
  }
}